* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #dbee30, #49d4f7fb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-card {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.todo-card h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.todo-card p {
    font-size: 1.2rem;
    color: #777;
}
