.dashboard{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    gap: 1rem;
    height: 100vh; 
}
.contenedor-secciones {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 1rem;
    height: 100%;
}
